MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=event_scheduler_new
MYSQL_USER=scheduler
MYSQL_PASSWORD=scheduler123
MYSQL_PORT=3307

CORS_ORIGINS=http://localhost:3000
GEMINI_API_KEY=
GOOGLE_CALENDAR_ID=primary
REACT_APP_API_BASE_URL=/api
